:host()
  text-transform capitalize

.um-section
  justify-content center
  align-items center

.modal-header
  padding-top 3rem

.um-section
  padding-top 8rem

#inLinePreviewImg
  max-height 3rem
  max-width 5rem
  margin-right 1rem

#noImgNotice
  padding-top 2rem
  text-align center

input[type = "file"]
  visibility hidden

// img[_ngcontent-c3] {
//   height: 5rem
//   margin: 1rem 0
// }

// img[_ngcontent-c7] {
//   height: 5rem
//   margin: 1rem 0
// }

img
  height: 5rem
  margin: 1rem 0

