:host()
  text-transform capitalize

.um-section
  justify-content center
  align-items center

.um-section
  padding-top 8rem



i[nz-icon] 
  font-size 32px
  color #999


.ant-upload-text 
  margin-top 8px
  color #666

