::ng-deep .app-section
  flex-direction column

.um-section
  flex-direction column

.container
  margin-top 5rem
  display flex
  flex 1

.d-flex
  height 100%

.um-section--buttons
  display flex
  width 100%
  justify-content space-evenly
  .btn
    min-width 10rem
    padding 10px 0

.um-title
  font-size 4em
  font-weight 100
  letter-spacing 5px

.um-subtitle
  font-size 3em
  font-weight normal
  letter-spacing 2px
