.um-navbar
  width 100%

.um-header-text
  letter-spacing 2px
  font-weight 100

.navbar
  padding 1rem 3rem
  border-bottom 4px solid #dcefe9
  background #fafafa
  .img-fluid
    width 115px
    transition width 250ms ease-in-out
  .nav-item
    letter-spacing 1px
    margin 0 1rem
    .nav-link
      &:hover
        text-decoration underline
        cursor pointer
