<ng-template #eyeglassModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Add New Eyewear Model</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form id="eyeglassValidateForm" nz-form [formGroup]="validateForm"  (ngSubmit)="onFormSubmit()">
    <div class="modal-body">
      <nz-form-item>
        <nz-form-label nzFor="um-model" nzRequired>Model Name</nz-form-label>
        <nz-form-control nzHasFeedback nzErrorTip="Please input model name">
          <input nz-input id="um-model" [(ngModel)]="eyeglass.model"
            formControlName="model" placeholder="Model name" required/>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzFor="um-upc" nzRequired>UPC</nz-form-label>
        <nz-form-control nzHasFeedback nzErrorTip="Please input valid model UPC">
          <input nz-input id="um-upc" [(ngModel)]="eyeglass.upc" maxlength="12" minlength="12"
            formControlName="upc" placeholder="UPC#" required/>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzFor="um-brand" nzRequired>Brand</nz-form-label>
        <nz-form-control nzHasFeedback nzErrorTip="Please input model brand">
          <input nz-input id="um-brand" [(ngModel)]="eyeglass.brand"
            formControlName="brand" placeholder="Model brand" required/>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzFor="um-size" nzRequired>Model Size</nz-form-label>
        <nz-form-control nzHasFeedback nzErrorTip="Please input model size">
          <input type="text" nz-input id="um-size" 
            maxlength="9" minlength="9" min="0" max="9" [(ngModel)]="eyeglass.size"
            formControlName="size" placeholder="Size: please input 7 digit number" required
            (ngModelChange)="onChange($event)"/>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzFor="um-info">Other Info</nz-form-label>
          <input nz-input id="um-info" [(ngModel)]="eyeglass.info"
            formControlName="info" placeholder="Other info..."/>
      </nz-form-item>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-light">Save</button>
    </div>
  </form>
</ng-template>

<ng-template #editEyeglassModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Edit Eyewear Model</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <form id="eyeglassValidateForm" nz-form [formGroup]="validateForm"  (ngSubmit)="onFormSubmit()">
      <div class="modal-body">
        <nz-form-item>
          <nz-form-label nzFor="um-model" nzRequired>Model Name</nz-form-label>
          <nz-form-control nzHasFeedback nzErrorTip="Please input model name">
            <input nz-input id="um-model" [(ngModel)]="eyeglass.model"
              formControlName="model" placeholder="Model name" required/>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label nzFor="um-upc" nzRequired>UPC</nz-form-label>
          <nz-form-control nzHasFeedback nzErrorTip="Please input valid model UPC">
            <input nz-input id="um-upc" [(ngModel)]="eyeglass.upc" maxlength="12" minlength="12"
              formControlName="upc" placeholder="UPC#" required/>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label nzFor="um-brand" nzRequired>Brand</nz-form-label>
          <nz-form-control nzHasFeedback nzErrorTip="Please input model brand">
            <input nz-input id="um-brand" [(ngModel)]="eyeglass.brand"
              formControlName="brand" placeholder="Model brand" required/>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label nzFor="um-size" nzRequired>Model Size</nz-form-label>
          <nz-form-control nzHasFeedback nzErrorTip="Please input model size">
            <input type="text" nz-input id="um-size" 
              maxlength="9" minlength="9" min="0" max="9" [(ngModel)]="eyeglass.size"
              formControlName="size" placeholder="Size: please input 7 digit number" required
              (ngModelChange)="onChange($event)"/>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label nzFor="um-info">Other Info</nz-form-label>
            <input nz-input id="um-info" [(ngModel)]="eyeglass.info"
              formControlName="info" placeholder="Other info..."/>
        </nz-form-item>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-light">Save</button>
      </div>
    </form>
  </ng-template>

<ng-template #confirmationModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Delete Eyeglass Model</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Are you sure you want to delete the eyeglass model <b>{{eyeglass.model}}</b>?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Cancel</button>
    <button type="button" class="btn btn-danger" (click)="DeleteEyeglass()">Delete</button>
  </div>
</ng-template>

<div class="um-section">
  <div class="container">
    <div class="row">
      <div class="col">
        <ngb-alert *ngIf="isAlertOpen" type="success" (close)="isAlertOpen = false">{{ alertMessage }}</ngb-alert>
        <h3>{{this.companyName}}</h3>
        <button class="um-btn--add btn btn-outline-info" (click)="onAddEyeglassModalOpen(eyeglassModal)">Add Eyeglass</button>
        <table class="table">
          <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Model Name</th>
            <th scope="col">UPC</th>
            <th scope="col">Brand</th>
            <th scope="col">Model Size</th>
            <th scope="col">Others</th>
            <th scope="col">Actions</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let eyeglass of eyeglasses; index as i">
            <th scope="row">{{i + 1}}</th>
            <td><a [routerLink]="['/','profile', this.clientId, eyeglass.id, 'types']"
                    [queryParams]="{upc:eyeglass.upc}">{{eyeglass.model}}</a>
            </td>
            <td>{{eyeglass.upc}}</td>
            <td>{{eyeglass.brand}}</td>
            <td>{{eyeglass.size}}</td>
            <td>{{eyeglass.info}}</td>
            <td>
              <button nzTitle="Edit" nz-button nz-tooltip
                      [disabled]="!this.eyeglass.btnAct"
                      class="um-btn--action btn btn-outline-warning"
                      (click)="onEditEyeglassModalOpen(eyeglass, editEyeglassModal)">
                <i class="fa fa-edit"></i>
              </button>
              <button nzTitle="Deactivate" nz-button nz-tooltip
                      [disabled]="!this.eyeglass.btnAct"
                      (click)="disableBtn(eyeglass)"
                      class="um-btn--action btn btn-outline-info">
                <i class="fa fa-eye-slash"></i>
              </button>
              <button nzTitle="Activate" nz-button nz-tooltip
                      [disabled]="this.eyeglass.btnAct"
                      (click)="disableBtn(eyeglass)"
                      class="um-btn--action btn btn-outline-info">
                <i class="fa fa-eye"></i>
              </button>
              <button nzTitle="Delete" nz-button nz-tooltip
                      [disabled]="!this.eyeglass.btnAct"
                      class="um-btn--action btn btn-outline-danger"
                      (click)="onDeleteEyeglassModalOpen(eyeglass, confirmationModal)">
                <i class="fa fa-trash"></i>
              </button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
