$naik-blue = #202d43
$naik-yellow = #f3bd3c
$naik-orange = #da4f35

.um-section
  height 100vh

.um-btn
  padding .5em 4em
  width 100%

.row
  height stretch

.form-group
  display flex
  align-items center
  .form-control
    height 50px
    background #fafafa
    border solid 1px $naik-blue
    border-radius 0
    padding .5em

.um-form-icon
  width 50px
  height 50px
  display flex
  background $naik-blue
  color white
  justify-content center
  align-items center


